.encabezado{
    display: flex;
    align-items: center;
    padding: 10px 250px;
    box-shadow: 0 5px 10px rgba(101, 99, 99, 0.3);
    font-size: 20px;
}

.encabezado img{
    width: 60px;
    padding: 20px 80px;
    border-radius: 50%;
    
}

body{
    font-family:"Sodo Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu2{
    padding-left: 40px;
}

span{
    margin-left: auto;
    padding-right: 80px;
}

.verde{
    margin: 20px auto;
    max-width: 75%;
    min-width: 400px;
    width: 100%;
    height: 450px;
    background-color: #1e3932;
}

.verde img{
    width: 700px;
    height: 450px;
}

.rojo{
    margin: 20px auto;
    max-width: 75%;
    min-width: 400px;
    width: 100%;
    height: 450px;
    background-color: #d51631;
}
.rojo img{
    width: 700px;
    height: 450px;
}

.rojo p{
    font-size: 40px;
    display: block;
    margin-left: auto;
    text-align: right;
}






/* -------------------------------------- PROYECTOS -------------------------------------- */
img{
    width: 600px;
}