*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

/* -------------------------------------- ENCABEZADO -------------------------------------- */
.boton-display-chico, .navbar-derecha-chiquito{
    display: none;
}

.encabezado {
    display: flex;
    padding: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    justify-content: center;
    overflow: hidden;
    position: fixed;
    background-color: white;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
}

.encabezado nav{
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
}

.navbar-izquierda, .navbar-derecha{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-derecha i{
    font-size: 20px;
}

.navbar-izquierda .logo-starbacks{
    width: 50px;
    border-radius: 50%;
}

.encabezado a{
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-weight:900;
    letter-spacing: 1px;
}

.navbar-izquierda div a{
    position: relative;
    margin-right: 50px;
    letter-spacing: 2px;
}
.navbar-izquierda div a:hover{
    position: relative;
    color: #01754a;
    box-shadow: 0 54px 0 2px  #01754a;
}

.localizar-tienda a:hover, 
.botones-ingresar-unete .boton-ingresar:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.localizar-tienda a:hover {
    color: #4d4d4d;
}

.botones-ingresar-unete .boton-ingresar:hover, .boton-unete:hover{
    padding: 5px 16px;
    border: 1px solid #4d4d4d; 
    background-color: transparent; 
    color: #4d4d4d; 
    font-size: 16px; 
    font-weight: 600;
    border-radius: 25px;
    
    transition: background-color 0.5s ease;
}

.botones-ingresar-unete .boton-unete:hover{
    padding: 5px 14px; 
    background-color: #333333;
    color: white;
}

.botones-ingresar-unete .boton-unete{
    padding: 5px 14px; 
    background-color: black;
    color: white;
}

.botones-ingresar-unete{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.botones-ingresar-unete .boton-ingresar, .boton-unete{
    padding: 5px 16px;
    border: 1px solid rgba(0, 0, 0, .87); 
    background-color: transparent; 
    color: rgba(0, 0, 0, .87); 
    font-size: 16px; 
    font-weight: 600;
    border-radius: 25px;
}

.botones-ingresar-unete .boton-unete{
    padding: 5px 14px; 
    background-color: black;
    color: white;
}

.boton-unete:hover{
    background-color: #333333;
}

/* -------------------------------------- SIDE -------------------------------------- */
.grid-rewards{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 1fr);
    row-gap: 10px;
    height: 100vh;
}

.side{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(25, 1fr);
    background-color: #1b4036;
    overflow: hidden;
    z-index: 999;
}

.imagen-side{
    display: flex;
    justify-content: end;
    align-items: end;
    grid-column: 5/8;
    grid-row: 12/26;
}

.imagen-side img{
    width: 90%;
    height: auto;
}

.texto-side{
    display: grid;
    grid-column: 1/8;
    grid-row: 12/15;
}

.imagen-texto-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/20;
    grid-row: 1/11;

}

.botones-texto-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.botones-texto-side a{
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid white; 
    background-color: transparent; 
    color: white; 
    font-size: 16px; 
    font-weight: 600;
    border-radius: 25px;
    margin-bottom: 20px;
}

.botones-texto-side #boton-unete-ahora {
    background-color: white;
    color: black;
}

.texto-side img{
    width: 300px;
    margin-bottom: 10px;
}

.texto-side h2{
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}


/* -------------------------------------- MAIN -------------------------------------- */
.main{
    display: flex;
    justify-content: center;
    grid-column: 9/21;
    grid-row: 1/12;
    margin-left: 2;
    height: auto;
    margin: 40PX;
}

.primera-division{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.primera-division p{
    grid-column: 1/21;
}




/* -------------------------------------- Queries -------------------------------------- */
@media screen and (max-width:1023px) {

    /* --------------------------------- HEADER --------------------------------- */
    .navbar-derecha-chiquito{
        display: block;
    }
    .navbar-derecha, .etiquetas-menu-rewards, .selector-desplegable, .menu-alternar{
        display: none;
    }

    .encabezado{
        display: flex;
        padding: 15px 20px;
        justify-content: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
        overflow: hidden;
        position: fixed;
        background-color: white;
        width: 100%;
    }

    .boton-selector{
        margin-right: 50px;
    }

    .menu-alternar:checked ~ .selector-desplegable ul{
        position: fixed;
        top: 74px;
        right: 0;
        z-index: 1000;
    }

    .navbar-izquierda .logo-starbacks{
        width: 40px;
    }

    .selector-desplegable ul li a:hover{
        color: #01754a;
    }

    .encabezado nav{
        display: flex;
        width: 100%;
        max-width: 1250px;
        align-items: center;
        justify-content: space-between;
    }

    .boton-selector{
        font-size: 20px;
        color: #aaaaaa;
    }

    .boton-selector .fa-xmark{
        display: none;
    }

    .menu-alternar:checked + .boton-selector .fa-bars{
        display: none;
    }
    .menu-alternar:checked + .boton-selector .fa-xmark{
        display: inline-block;
    }

    .menu-alternar:checked ~ .selector-desplegable{
        display: block;
    }

    .boton-selector{
        cursor: pointer;
    }

    .contenedor-menu-rewards{
        margin: 50px 25px;
    }


    .contenedor-localizarT-botones{
        margin-top: 40px;
        font-size: 20px;
        border-top: 1px solid #eeeeee;
    }

    .selector-desplegable ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: white;
        position: absolute;
        height: 100%;
        width: 85%;
    }

    .selector-desplegable ul li{
        font-size: 15px;
        margin-bottom: 30px;
        width: 80%;
        cursor: pointer;
    }

    .contenedor-localizarT-botones .localizar-tienda{
        margin-top: 30px;
    }

    .contenedor-localizarT-botones .botones-ingresar-unete .boton-ingresar{
        padding: 6px 16px;
    }

    .contenedor-localizarT-botones .botones-ingresar-unete .boton-unete{
        padding: 6px 16px;
    }

    /* --------------------------------- MAIN --------------------------------- */
    
    .side{
        position: static;
        width: 100%;
        height: auto;
        grid-column: 1/22;
        grid-row: 1/9;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(25, 1fr);
        background-color: #1b4036;
        overflow: hidden;
    }
    .imagen-texto-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/21;
        grid-row: 1/11;
    }
    

    .main{
        display: flex;
        justify-content: center;
        grid-column: 1/22;
        grid-row: 9/12;
        margin-left: 2;
        height: auto;
    }

    .texto-side{
        grid-column: 1/8;
        grid-row: 3/20;
    }

    .texto-side a{
        text-decoration: none;
        padding: 4px 100px;
        border: 1px solid white; 
        background-color: transparent; 
        color: white; 
        font-size: 16px; 
        font-weight: 600;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    #boton-unete-ahora {
        background-color: white;
        color: black;
    }
}