body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

/* -------------------------------------- ENCABEZADO -------------------------------------- */
.encabezado {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.encabezado nav{
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
}

.navbar-izquierda, .navbar-derecha{
    display: flex;
    align-items: center;
    gap: 30px;
}


.navbar-derecha i{
    font-size: 20px;
}

.navbar-izquierda img{
    width: 50px;
    border-radius: 50%;
}

.encabezado a{
    color: black;
    text-decoration: none;
    font-weight:900;
}

.botones-ingresar-unete{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.botones-ingresar-unete .boton-ingresar, .boton-unete{
    padding: 6px 16px;
    border: 1px solid black; 
    background-color: transparent; 
    color: inherit; 
    font-size: 16px; 
    font-weight: 600;
    border-radius: 25px;
}

.botones-ingresar-unete .boton-unete{
    padding: 6px 14px; 
    background-color: black;
    color: white;
}

/* -------------------------------------- MAIN -------------------------------------- */
.contenedor-banners {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 466px);
    row-gap: 30px;
}

.banner-uno, .banner-dos, .banner-tres, .banner-cuatro, .banner-cinco{
    display: flex;
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
    min-width: 1400px;
    min-height: 466px;
}

.banner-uno{
    background-color: #1e3932;
    grid-row: 1/2;
}

.banner-dos{
    background-color: #0144b4;
    grid-row: 2/3;
}

.banner-tres{
    background-color: #d51631;
    grid-row: 3/4;
}

.banner-cuatro{
    background-color: #1e3932;
    grid-row: 4/5;
}

.banner-cinco{
    background-color: aqua;
    grid-row: 5/6;
}



.imagen-banner{
    width: 50%;
    height: auto;
}

/* -------------------------------------- PIE PAGINA -------------------------------------- */
.pie-pagina{
    display: flex;
    align-items: center;
    padding: 0 250px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    font-size: 20px;
}

.pie-pagina i{
    width: 55px;
    color: black;
}


/* -------------------------------------- COOKIES -------------------------------------- */
.contenedor-cookie{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white; 
    color: #000; 
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

.mensaje-fijo-cookies{
    line-height: 24px;
}

.button-cookie{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 6px 13px;
    border-radius: 25px;
    width: 100px;
    height: 25px;
    margin-right: 50px;
    
}

.button-cookie .boton-cookies{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
}

.invisible{
    display: none;
}