/* -------------------------------------- ENCABEZADO -------------------------------------- */
body{
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 320px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.encabezado .lado-izquierdo{
    display: flex;
    align-items: center;
    gap: 35px;
}

.encabezado img{
    width: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.encabezado nav{
    display: flex;
    gap: 40px; /* Espacio entre elementos */
}

.encabezado a{
    color: black;
    text-decoration: none;
}


/* -------------------------------------- MAIN -------------------------------------- */
.contenedor-banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.uno, .tres, .cinco{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    max-width: 1450px;
    background-color: #1e3932;
    overflow: hidden;
}

.dos, .cuatro{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 75%;
    max-width: 1450px;
    background-color: #0144b4;
    overflow: hidden;
}

.tres, .cinco{
    background-color: #d51631;
}

.cuatro{
    background-color: #1e3932;
}

.imagen-banner{
    width: 50%;
    height: auto;
}

.texto-banner{
    padding: 20px;
    color: white;
    text-align: center;
    width: 50%;
    line-height: 1.8; /* Espaciado en salto de linea */
    letter-spacing: .5px; /* Espaciado entre letras */
    font-size: 1.188rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4; /* Espaciado en salto de linea */
    letter-spacing: -1px; /* Espaciado entre letras */
}

.boton-cinco {
    padding: 6px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: inherit; 
    font-size: 16px; 
    font-weight: 600;
    border-radius: 25px;
    text-align: center; 
}

.boton-cinco a{
    text-decoration: none;
    color: inherit;
}

.boton-cinco:hover {
    background-color: white;
    color: white;
    border-color: white;
}

/* -------------------------------------- PIE PAGINA -------------------------------------- */
.pie-pagina{
    display: flex;
    align-items: center;
    padding: 0 250px;
    box-shadow: 0 5px 10px rgba(101, 99, 99, 0.3);
    font-size: 20px;
    font-family:"Sodo Sans", "Helvetica Neue", Arial, sans-serif;
}

.pie-pagina i{
    width: 55px;
    
}
.pie-pagina i:{
    
}